*.so
*.o
*.la
*.lo
*.gir
*.typelib
*/.libs/
*~
*.swp
/m4/
*.m4
*.guess
install-sh
depcomp
configure
config.sub
config.guess
config.h.in
Makefile.in
/Makefile.in
missing
ltmain.sh
/config/
/autom4te.cache/
